/* Style For All */
@font-face {
  font-family: "Akrobat";
  src: url(Font/akrobat.woff) format(woff);
}
* {
  font-family: "Akrobat";
  margin: 0 auto;
}
body {
  height: max-content;
}
/* Style Container */
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1152px;
}
/* Start Style Navbar */
/* Navbar Pertama */
#navbarPertama {
  width: 100%;
  height: 30px;
  background-color: #3c7c40;
}
#navbarPertama a {
  text-decoration: none;
  color: #fff;
}
#navbarPertama a:hover {
  color: #ccc;
}
.listGroup {
  font-size: 14px;
  margin: 6px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list {
  margin: 0px;
}
.listKanan {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.listTengah a {
  display: flex;
  width: 150px;
}
/* Navbar Kedua */
#navbarKedua {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 3;
  top: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.navbarGroup {
  margin: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar {
  margin: 0px;
  padding: 0px;
}
.navbarLogo img {
  width: 30px;
}
.navbarLogo strong {
  font-size: 35px;
  color: #3c7c40;
}
.navbarTengah {
  width: 60%;
  display: flex;
}
.kategori {
  margin-top: 10px;
  text-decoration: none;
  color: #555;
}
.kategori:hover {
  color: #000;
}
.navbarSearch {
  margin-top: 4px;
  padding: 0px;
  width: 500px;
  height: 30px;
  vertical-align: middle;
  white-space: nowrap;
}
.search {
  border: 2px solid #3c7c40;
  border-radius: 15px;
  margin: 0px;
  width: 500px;
  height: 30px;
  padding: 6px 15px;
}
.search:hover {
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
.search:focus,
.search:active {
  outline: #3c7c40;
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
.icon {
  border: none;
  background: #3c7c40;
  height: 30px;
  width: 30px;
  color: #fff;
  border-radius: 0px 15px 15px 0px;
  margin-left: -33.4px;
}
.navbarSearch:hover button.icon,
.navbarSearch:active button.icon {
  outline: none;
}
.navbarSearch:hover button.icon:hover {
  color: #eee;
}
.keranjang img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}
.navbarMasukDaftar {
  margin-top: 4px;
}
.button {
  margin-left: 10px;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 700;
}
.button.masuk {
  border: 2px solid #3c7c40;
  background-color: #fff;
  color: #3c7c40;
}
.button.daftar {
  border: 2px solid #3c7c40;
  background-color: #3c7c40;
  color: #fff;
}
.button.masuk:hover {
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
.button.daftar:hover {
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
/* End Style Navbar */
/* Start Style Slideshow */
.slides {
  margin-top: 25px;
  max-width: 1000px;
  max-height: 250px;
}
.slide,
.slide a,
.slide a img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}
button.slick-prev.slick-arrow {
  width: 30px;
  height: 30px;
  left: -35px;
}
button.slick-next.slick-arrow {
  width: 30px;
  height: 30px;
  right: -35px;
}
button.slick-prev::before,
button.slick-next:before {
  font-size: 30px;
}
.slick-prev:before,
.slick-next:before {
  z-index: 2;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.slick-dots {
  color: #fff;
  top: 220px;
}
ul.slick-dots li button:before {
  font-size: 8px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  opacity: 1;
}
ul.slick-dots li.slick-active button:before {
  color: #dedede;
}
.slides:not(:hover) .slick-arrow,
.slides:not(:hover) .slick-dots {
  opacity: 0;
}
.slick-arrow,
.slick-dots {
  transition: opacity 0.5s ease-out;
}
/* End Style Slideshow */
/* Start Style Flase Sale */
#flashSale {
  width: 100%;
  margin-bottom: 25px;
}
.mainFlashSale {
  width: 1000px;
  height: 382px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.mainFlashSale .rowContent {
  width: 100%;
  display: flex;
  padding: 0px 10px;
  padding-top: 0px;
}
.mainFlashSale .col {
  margin: 10px;
  margin-top: 5px;
  display: flex;
  padding: 0px;
  width: 150px;
  height: 300px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}
.mainFlashSale .col img {
  height: 50%;
  width: 150px;
}
.mainFlashSale .rowJudul {
  font-size: 14px;
  color: #3c7c40;
  margin: 20px 20px 10px 20px;
  float: left;
}
.mainFlashSale .row .judul {
  float: left;
}
.mainFlashSale .row #timeFlashSale {
  padding: 6px 20px;
  color: #3c7c40;
  float: left;
}
.mainFlashSale .col .merkProduk {
  font-size: 8px;
  color: #3c7c40;
  margin: 4px 0px 2px 10px;
}
.mainFlashSale .col .namaProduk {
  font-size: 14px;
  margin: 0px 10px;
}
.mainFlashSale .col .keteranganProduk {
  font-size: 10px;
  margin: 2px 10px 0px 10px;
  color: #555;
}
.mainFlashSale .col .diskonFlashSale {
  margin: 10px 10px 6px 10px;
}
.mainFlashSale .col .diskonPersen {
  float: left;
  width: max-content;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 8px;
  color: #ff0000;
  font-weight: bold;
  margin-right: 5px;
}
.mainFlashSale .col .hargaNormal {
  font-size: 8px;
  padding: 2px;
  text-decoration-line: line-through;
  font-weight: bold;
}
.mainFlashSale .col .hargaAkhir {
  margin: 6px 10px 0px 10px;
  font-weight: bold;
  font-size: 14px;
}
.mainFlashSale .col .grafik {
  margin: 7px 10px 2px 10px;
  width: 130px;
  height: 4px;
  background: #c4c4c4;
  border-radius: 2px;
  overflow: hidden;
}
.mainFlashSale .col .grafik .grafikPembeli {
  float: left;
  width: 85px;
  height: 4px;
  background: #3c7c40;
  border-radius: 2px 0px 0px 2px;
}
.mainFlashSale .col .keteranganGrafik {
  margin-left: 10px;
  font-weight: bold;
  font-size: 10px;
  color: #555555;
}
.rowContent:not(:hover) .slick-arrow,
.rowContent:not(:hover) .slick-dots {
  opacity: 0;
}
/* End Style Flase Sale */
/* Start Style Produk Terlaris */
#produkTerlaris {
  width: 100%;
  margin-bottom: 25px;
}
.mainProdukTerlaris {
  width: 1000px;
  height: 182px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.mainProdukTerlaris .rowJudul {
  font-size: 14px;
  color: #3c7c40;
  margin: 20px 0px 0px 20px;
}
.mainProdukTerlaris .rowContentProdukTerlaris {
  width: 100%;
  padding: 0px 20px 10px 20px;
  display: flex;
  justify-content: space-between;
}
.mainProdukTerlaris .rowContentProdukTerlaris .col {
  margin: 15px 5px 5px 10px;
  padding: 0px;
  width: 260px;
  height: 100px;
  display: flex;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}
.mainProdukTerlaris .rowContentProdukTerlaris .col img {
  width: 100px;
  height: 100px;
}
.mainProdukTerlaris .rowContentProdukTerlaris .col .infoProduk {
  width: 160px;
  padding: 30px 20px;
  font-size: 14px;
}
.mainProdukTerlaris .rowContentProdukTerlaris .col .infoProduk .namaProduk {
  font-weight: 700;
}
.mainProdukTerlaris .rowContentProdukTerlaris .col .infoProduk .terjual {
  font-weight: 500;
}
.rowContentProdukTerlaris:not(:hover) .slick-arrow,
.rowContentProdukTerlaris:not(:hover) .slick-dots {
  opacity: 0;
}
/* End Style Produk Terlaris */
/* Start Style Rekomendasi */
#rekomendasi {
  width: 100%;
  margin-bottom: 25px;
}
.mainRekomendasi {
  width: 1000px;
  height: 694px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.mainRekomendasi .rowJudul {
  font-size: 14px;
  color: #3c7c40;
  margin: 20px 20px 10px 20px;
}
.mainRekomendasi .rowContentRekomendasi {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15px;
}
.mainRekomendasi .rowContentRekomendasi .col {
  margin: 6px 6px;
  width: 150px;
  height: 275px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  overflow: hidden;
}
.mainRekomendasi .rowContentRekomendasi .col img {
  width: 150px;
  height: 150px;
}

.mainRekomendasi .col .merkProduk {
  font-size: 8px;
  color: #3c7c40;
  margin: 4px 0px 2px 10px;
}
.mainRekomendasi .col .namaProduk {
  font-size: 14px;
  margin: 0px 10px;
}
.mainRekomendasi .col .keteranganProduk {
  font-size: 10px;
  margin: 2px 10px 0px 10px;
  color: #555;
}
.mainRekomendasi .col .diskonFlashSale {
  margin: 10px 10px 6px 10px;
}
.mainRekomendasi .col .diskonPersen {
  float: left;
  width: max-content;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 8px;
  color: #ff0000;
  font-weight: bold;
  margin-right: 5px;
}
.mainRekomendasi .col .hargaNormal {
  font-size: 8px;
  padding: 2px;
  text-decoration-line: line-through;
  font-weight: bold;
}
.mainRekomendasi .col .hargaAkhir {
  margin: 6px 10px 0px 10px;
  font-weight: bold;
  font-size: 14px;
}
.mainRekomendasi .lihatProdukLainnya {
  text-align: center;
  margin: 18px;
}
.mainRekomendasi .lihatProdukLainnya a {
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  border: 1.5px solid #3c7c40;
  color: #3c7c40;
  padding: 6px 10px;
  border-radius: 10px;
}
.mainRekomendasi .lihatProdukLainnya a:hover {
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
/* End Style Rekomendasi */
.garisPemisah {
  margin-top: 45px;
  margin-bottom: 20px;
  width: 1000px;
  height: 0px;
  border: 2px solid #3c7c40;
  text-align: center;
}
/* Start Style Keunggulan Kutani */
#keunggulanKutani {
  width: 100%;
  margin-bottom: 50px;
}
.row {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.row .col {
  float: left;
  width: 300px;
  padding: 4px;
}
.row .col img {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}
.row .col .judul {
  margin-top: 15px;
  color: #3c7c40;
  font-weight: bold;
  font-size: 16px;
}
.row .col .kata {
  font-size: 14px;
  margin-top: 4px;
}
/* End Style Keunggulan Kutani */
