/* Style For All */
@font-face {
  font-family: "Akrobat";
  src: url(Font/akrobat.woff) format(woff);
}
* {
  font-family: "Akrobat";
  margin: 0 auto;
}
body {
  height: 1000px;
}
/* Style Container */
.container {
  display: flex;
  margin: 0 auto;
  max-width: 1152px;
}
/* Start Style Navbar */
/* Navbar Pertama */
#navbarPertama {
  width: 100%;
  height: 30px;
  background-color: #3c7c40;
}
#navbarPertama a {
  text-decoration: none;
  color: #fff;
}
#navbarPertama a:hover {
  color: #ccc;
}
.listGroup {
  font-size: 14px;
  margin: 6px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.list {
  margin: 0px;
}
.listKanan {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.listTengah a {
  display: flex;
  width: 150px;
}
/* Navbar Kedua */
#navbarKedua {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  z-index: 3;
  top: 0;
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}
.navbarGroup {
  margin: 10px 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.navbar {
  margin: 0px;
  padding: 0px;
}
.navbarLogo img {
  width: 30px;
}
.navbarLogo strong {
  font-size: 35px;
  color: #3c7c40;
}
.navbarTengah {
  width: 60%;
  display: flex;
}
.kategori {
  margin-top: 10px;
  text-decoration: none;
  color: #555;
}
.kategori:hover {
  color: #000;
}
.navbarSearch {
  margin-top: 4px;
  padding: 0px;
  width: 500px;
  height: 30px;
  vertical-align: middle;
  white-space: nowrap;
}
.search {
  border: 2px solid #3c7c40;
  border-radius: 15px;
  margin: 0px;
  width: 500px;
  height: 30px;
  padding: 6px 15px;
}
.search:hover {
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
.search:focus,
.search:active {
  outline: #3c7c40;
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
.icon {
  border: none;
  background: #3c7c40;
  height: 30px;
  width: 30px;
  color: #fff;
  border-radius: 0px 15px 15px 0px;
  margin-left: -33.4px;
}
.navbarSearch:hover button.icon,
.navbarSearch:active button.icon {
  outline: none;
}
.navbarSearch:hover button.icon:hover {
  color: #eee;
}
.keranjang img {
  margin-top: 10px;
  width: 20px;
  height: 20px;
}
.navbarMasukDaftar {
  margin-top: 4px;
}
.button {
  margin-left: 10px;
  border-radius: 10px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 700;
}
.button.masuk {
  border: 2px solid #3c7c40;
  background-color: #fff;
  color: #3c7c40;
}
.button.daftar {
  border: 2px solid #3c7c40;
  background-color: #3c7c40;
  color: #fff;
}
.button.masuk:hover {
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
.button.daftar:hover {
  box-shadow: 0 0 0 2px rgba(60, 124, 64, 0.671);
}
/* End Style Navbar */
/* Start Style Slideshow */
.slides {
  margin-top: 25px;
  max-width: 1000px;
  max-height: 250px;
}
.slide,
.slide a,
.slide a img {
  width: 100%;
  height: 250px;
  overflow: hidden;
  border-radius: 10px;
  z-index: 1;
}
.slick-prev:before,
.slick-next:before {
  width: 50px;
  height: 50px;
  z-index: 2;
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
}
.slick-dots {
  top: 225px;
}
.slick-dots li button:before {
  font-size: 12px;
  color: #fff;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  opacity: 1;
}
.slick-dots li.slick-active button:before {
  color: #ffffff;
}
.slides:not(:hover) .slick-arrow,
.slides:not(:hover) .slick-dots {
  opacity: 0;
}
.slick-arrow,
.slick-dots {
  transition: opacity 0.5s ease-out;
}
/* End Style Slideshow */
/* Start Style Flase Sale */
#flashSale {
  margin-bottom: 25px;
}
.mainFlashSale {
  width: 1000px;
  height: 382px;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px
}
.mainFlashSale .col {
  padding: 0px;
  width: 150px;
  height: 300px;
  background:rgba(60, 124, 64, 0.671);
  border-radius: 15px;
  overflow: hidden;
}
.mainFlashSale .col img {
  height: 50%;
  width: 150px;
}
/* End Style Flase Sale */
